@import '~bootstrap/scss/bootstrap-grid';

$hamburger-layer-width: 30px;
$hamburger-layer-color: #fff;
$hamburger-types: (
  minify
);
@import '~magic-burgers/src/scss/hamburger';
@import '~metismenujs/scss/metismenujs';