mixin posters-link({ label, href }, mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' posters-link_' + modsList[i].trim();
      }
    }

  a.posters-link(class=allMods, href=href)&attributes(attributes)= label
    