footer.page-footer
  .container-fluid
    .row
      .col-12.col-lg-3.col-xl-2.order-last.order-lg-first.offset-xxl-1
        +logo
      .col-12.col-sm-6.col-lg-2
        ul.page-footer__links
          li.page-footer__links-item
            a.page-footer__link(href="#") Voice over and Subtitle
          li.page-footer__links-item
            a.page-footer__link(href="#") Media Center
          li.page-footer__links-item
            a.page-footer__link(href="#") Privacy
          li.page-footer__links-item
            a.page-footer__link(href="#") Contact us
      .col-12.col-sm-6.col-lg-2
        ul.page-footer__links
          li.page-footer__links-item
            a.page-footer__link(href="#") Voice Description
          li.page-footer__links-item
            a.page-footer__link(href="#") Investor Relations
          li.page-footer__links-item
            a.page-footer__link(href="#") Legal Provisions
      .col-12.col-sm-6.col-lg-2
        ul.page-footer__links
          li.page-footer__links-item
            a.page-footer__link(href="#") Help Center
          li.page-footer__links-item
            a.page-footer__link(href="#") Job Opportunities
          li.page-footer__links-item
            a.page-footer__link(href="#") Cookies Preferences
      .col-12.col-sm-6.col-lg-2
        ul.page-footer__links
          li.page-footer__links-item
            a.page-footer__link(href="#") Gift Cards
          li.page-footer__links-item
            a.page-footer__link(href="#") Terms of Use
          li.page-footer__links-item
            a.page-footer__link(href="#") Corporate Informations