.modal-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  background-color: transparent;
  padding-top: 50px;
  overflow: auto;
  transition: background-color .5s;

  &_show {
    background-color: rgba(0, 0, 0, 0.7);
  }

  &_display_block {
    display: block;
  }

  &__content {
    width: 300px;
    padding: 15px;
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
    max-width: 630px;

    &_show {
      animation: fadeInDown .5s;
    }

    &_hide {
      animation: fadeOutUp .5s;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 15px;
  }

  &__title {
    color: #989898;
  }

  &__btn {
    padding: 0;
    font-weight: bold;
    line-height: 0;
    color: #989898;
    background-color: transparent;
    border: 0;
    margin-left: auto;
    margin-bottom: 20px;
    cursor: pointer;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate(0, -100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(0, -100%);
  }
}