mixin lightbox(mods)
  .modal-window
    .modal-window__content
      .modal-window__header
        h3.modal-window__title
        button.modal-window__btn(type='button' aria-label='close modal window') x
      img.modal-window__img
