-
  var genres = [
    {
      label: 'romance',
      href: '#'
    },
    {
      label: 'drama',
      href: '#'
    },
    {
      label: 'historical',
      href: '#'
    },
    {
      label: 'action',
      href: '#'
    },
    {
      label: 'sci-fi',
      href: '#'
    },
    {
      label: 'horror',
      href: '#'
    },
    {
      label: 'comedy',
      href: '#'
    },
    {
      label: 'documentary',
      href: '#'
    }
  ];