include ../../node_modules/magic-burgers/pug/hamburger
include ../components/main-nav/main-nav
include ../components/logo/logo
include ../components/user-bar/user-bar
include ../components/button/button
include ../components/posters-link/posters-link
include ../components/poster/poster
include ../components/lightbox/lightbox