extends ../../pug/layout
include ../../pug/includes

append style
  include ../../pug/favicons

block title
  title Home

block content
  body
    .page-wrapper
      include ../../partials/page-header/page-header
      main
        include ../../partials/banner/banner
        include ../../partials/posters/posters
        include ../../partials/genres/genres
        include ../../partials/persons/persons

    +lightbox