-
  const mainMenu = [
    {
      id: '1',
      level: 1,
      name: 'Home',
      url: '#'
    },
    {
      id: '2',
      level: 1,
      name: 'TV Shows',
      url: '#'
    },
    {
      id: '3',
      level: 1,
      name: 'Movies',
      url: '#'
    },
    {
      id: '4',
      level: 1,
      name: 'Series',
      url: '#'
    },
  ];
