-
  var persons = [
    {
      name: 'Samantha Bowen',
      href: '#'
    },
    {
      name: 'Rhys Birch',
      href: '#'
    },
    {
      name: 'James Holloway',
      href: '#'
    },
    {
      name: 'Joshua Walton',
      href: '#'
    },
    {
      name: 'Patrick Elliott',
      href: '#'
    },
    {
      name: "Morgan O'Neill",
      href: '#'
    }
  ];