header.page-header
  .onoffcanvas.is-left#mob-menu-canvas
    .page-header__bar-wrapper
      +user-bar
    .onoffcanvas__inner
      +main-nav('1', 'mobile')

  .container-fluid
    .row.align-items-center
      .col.col-lg-3.col-xl-2
        .page-header__logo-wrapper
          +logo

      .col-2.d-flex.d-md-none.justify-content-end.ml-auto
        +hamburger('minify')(data-toggle='onoffcanvas', data-target='#mob-menu-canvas')

      .col-12.col-lg.col-xl-5.offset-xl-2.order-1.order-lg-0.d-none.d-md-block
        +main-nav('1', 'full')

      .col-3.col-xl-2.offset-xl-1.d-none.d-md-block
        +user-bar