section.promo
  .container-fluid
    .promo__banner
      .row
        .col-12.col-lg-6
          .promo__bunny
            img.promo__image.promo__image_bunny(src="../../partials/promo/img/bunny.jpg", alt="Bunny")
        .col-12.col-lg-6.d-flex.justify-content-center
          .promo__soon
            img.promo__image.promo__image_soon(src="../../partials/promo/img/soon.png", alt="Coming soon")
            h4.promo__text Coming soon...
