section.register
  .container-fluid
    .row
      .col-12.col-xl-10.offset-xl-1
        .register__content
          .row
            .col-12.col-lg-6.col-xl-9
              h2.register__title Are You New Here ?<br/> Don’t wait, Register Now.
            .col-12.col-lg-6.col-xl
              .register__button
                +button({
                  label: 'Register Now',
                  href: '#'
                }, 'colored')
          .register__overlay
    //.row.register__content
    //  .col-12
    //    .register__overlay
    //    h2.register__title Are You New Here ? Don’t wait, Register Now.